form{
	width: 50%;
	margin: 0 auto;
	padding: 20px;
}

legend{
	color: #ff4646;
	font-weight: bold;
	text-transform: uppercase;
}

label{
	display: block;
	font-size: 18px;
	color: #777;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea{
	width: 80%;
	padding: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
}


button{
	padding: 8px 16px;
	color:red;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

h2{
	text-align: center;
	color: dodgerblue;
	text-decoration: underline;
}

textarea{
	padding: 10px;
}

table{
	width: 50%;
	margin: 20px auto;
	border: 2px solid #ddd;
	border-collapse: collapse;
}

th, td{
	border: 2px solid #ddd;
	text-align: center;
	padding: 10px;
}

th{
	color: orangered;
}
td:hover{
	background-color: #ddd;
}